<link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Dashboard showcase -->
    <div id="showcase">
        <header>
            <div class='cf navbar'>
                <ul class='cf'>
                    <li class="hide-on-small">
                        <a href='#showcase'>myDeck</a>
                    </li>
                    <li>
                        <a href='/decks'>Decks</a>
                    </li>
                    <li>
                        <a href='/collection'>Collection</a>
                    </li>
                    <li>
                        <a href='#Logout'>Logout</a>
                    </li>
                </ul>
                <a href='#' id='openup'>myDeck</a>
            </div>
        </header>
        <div class="main-section container">
            <h1>myDeck</h1>
            <h2>Manage and price your cards and decks.</h2>
            <p class="lead hide-on-small">
                myDeck is the best way to organize your Magic the Gathering decks, price the cards you already have - and shop for the ones
                you want.
            </p>
        </div>
    </div>
    <!-- Overview and API information section -->
    <section id="overview" class="section">
        <div class="container">
            <h2 class="section-head">
                <i class="fas fa-book-reader"></i> Overview
            </h2>
            <h3>Powered by
                <a href="https://www.tcgplayer.com/" target="blank">TCGPlayer.com</a>
            </h3>
            <p class="lead">Accessing TCGPlayer's API Endpoints you are able to:
                <br> Search for specific cards to add to your inventory.
                <br> Catalog and organize your decks.
                <br> And, pull Market Price, Buylist Price and more, to upgrade and improve your deck.
            </p>
            <br>
            <img src="images/tcgplayer.jpg">
            <p class="text-light">myDeck. available on Desktop and Mobile devices</p>
        </div>
    </section>
    <!-- User Deck section -->
    <section class="decks" class="section">
        <div class="container">
        </div>
    </section>

    <script type="text/javascript" src="javascript/add-card.js"></script>
    <script type="text/javascript" src="javascript/remove-card.js"></script>