<div id="nav">
    <img src="/images/andrew-vasquez.jpg" id="user_image" class="circle">

    <h4 id="username">John Doe</h4>

    <ul>
        <li>
            Home
        </li>
        <li>
            Create Collection
        </li>
        <li>
            Create Deck
        </li>
        <li>
            Check Prices
        </li>
    </ul>
</div>

<main>
    <div id="con">
        <h3 id="title">Collection<hr></h3>
        <button id="add-card">+ Add Card</button>
        
        <div id="all-cards">
            <div>
                <img src="/images/serraangel.jpg">
                <p>Card Name</p>
                <p>Card Description</p>
            </div>
        </div>

    </div>
</main>