<div id="login-wrapper">
    
    <div class="login-page">
        <div class="form">
            <form class="registration-form">
                <input type="text" placeholder="user name">
                <input type="text" placeholder="password">
                <input type="text" placeholder="email">
                <button>Register</button>
                <p class="message">Already a Member?
                    <a href="#">Login</a>
                </p>
            </form>

            <form class="login-form">
                <input type="text" placeholder="user name">
                <input type="password" placeholder="password">
                <button>Login</button>
                <p class="message">Not a Member?
                    <a href="#">Register</a>
                </p>
            </form>
        </div>
    </div>


</div>

   <script
   src="https://code.jquery.com/jquery-3.3.1.js"
   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
   crossorigin="anonymous"></script>

   <script>
       $(".message a").click(function() {
           $("form").animate({height: "toggle", opacity: "toggle"}, "slow")
       });
   </script>

<script type="text/javascript" src="javascript/login.js"></script>